body {
  background: black !important;
}
body h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #FFEBF0;
}
body h1 span {
  color: #ee00ff;
}
body .card-creators img {
  margin-left: 225px;
  margin-top: -60px;
}
body .select {
  max-width: 356px;
}
body .transmission {
  margin-top: 50px;
  background-color: #1C1E25;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  height: 115px;
  width: 75%;
}
body .transmission img {
  width: 40px;
}
body .transmission h1 {
  color: white;
  font-size: 19px;
  text-transform: capitalize;
}
body .transmission h2 {
  color: #F6DAE0;
  font-weight: 300;
  font-size: 14px;
}
body .bg-selection {
  background: #1C1E25;
  border-radius: 19px;
  padding: 30px;
}
body .bg-selection input,
body .bg-selection select {
  background: #272A33;
  border: none;
  padding: 18px;
  color: #797a7c;
  border-radius: 15px;
}
body .bg-selection button {
  padding: 10px;
}
body .bg-selection .privacity p {
  color: #686868;
  font-size: 12px;
}
body .bg-selection .privacity span {
  color: white;
}
body .btn-subscribe {
  background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%) !important;
  border-radius: 30px;
  color: white;
  font-weight: 500;
}
body .tittle {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
body .space-paragraph {
  margin-top: 100px;
}
body .card-host {
  background-color: #1C1E25;
  padding: 80px 40px 0px 40px;
  border-radius: 20px;
  margin: 20px;
}
body .card-host img {
  border-radius: 50%;
  position: absolute;
  margin-top: -120px;
}
body .card-host h1 {
  font-size: 16px;
}
body .card-host h1 span {
  color: #B19BF8;
  font-weight: 500;
  font-style: italic;
}
body .card-host p {
  color: #F6DAE0;
  font-size: 16px;
  font-weight: 400;
}
body .inside-creators-part .color-paragraph {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  margin-top: 20px;
}
body .inside-creators-part button {
  padding: 10px 50px;
}
body .inside-creators-part a {
  text-decoration: none;
  color: white;
  border: none;
}
body .investor p {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.4;
}
body footer {
  border-top: 1px solid #1e1d1d;
  padding: 0px 0px 20px 0px;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
body footer .list-terms {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
body footer .list-terms a {
  text-align: center;
  font-weight: 600;
  margin-left: -45px;
  font-size: 13px;
  color: #8B90A0;
}
body footer h3 {
  color: #E3E3E3;
  position: absolute;
  font-size: 14px;
  margin-top: -43px;
}
body footer a {
  color: white;
  text-decoration: none;
}
body footer a a:hover {
  text-decoration: underline;
  color: white;
}
body footer ul li i {
  font-size: 20px;
  margin-left: 1px;
  background: rgb(141, 141, 141);
  padding: 11px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
body footer ul li i:hover {
  opacity: 0.9;
}
body .hide-desktop {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  body .container {
    overflow-x: hidden;
  }
  body .insider .info-first {
    margin-top: 230px;
    margin-bottom: 200px;
    text-align: center;
  }
  body .insider .insider-creator-img {
    width: 300px;
    position: absolute;
    top: -120px;
    left: -30px;
  }
  body .card-creators img {
    width: 500px;
    margin-left: 60px;
  }
  body .transmission {
    width: 95vw !important;
    height: 94px;
  }
  .hide {
    opacity: 0;
  }
  .card-host {
    margin-top: 50px !important;
  }
  .inside-creators-part .btn-subscribe {
    display: block;
    margin: 0px auto;
  }
  .inside-creators-part .tittle {
    font-size: 26px;
  }
  .inside-creators-part br {
    display: none;
  }
  .col-md-8 img {
    display: block;
    width: 400px;
    margin-left: -45px;
  }
  .investor p {
    text-align: center;
  }
  .footer img {
    display: block;
    margin: 0px auto;
    margin-bottom: 60px;
    width: 160px;
  }
  .footer h3 {
    text-align: center;
    position: relative;
    margin-top: -102px;
    margin-bottom: 60px;
  }
  .footer .social-media ul {
    display: block;
    margin: 0px auto;
    margin-top: -210px;
  }
  .footer .list-terms a {
    text-align: center;
    margin: 0px;
    font-size: 14px;
  }
  .footer ul li i {
    margin: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
