$cor-botao: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
$second-background: #1C1E25;
$background-input: #272A33;
$spacement-landing: 100px;
$small: 300px;
$medium: 900px;

body {
  background: black !important;

  h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: #FFEBF0;

    span {
      color: #ee00ff;
    }
  }


  .card-creators {
    img {
      margin-left: 250px;
      margin-top: -60px;
    }
  }

  .select {
    max-width: 356px;
  }

  .transmission {
    margin-top: 50px;
    background-color: $second-background;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    height: 115px;
    width: 75%;

    img {
      width: 40px;
    }

    h1 {
      color: #FFFFFF;
      font-size: 19px;
      text-transform: capitalize;
      font-weight: 600;
    }

    h2 {
      color: #F6DAE0;
      font-weight: 300;
      font-size: 14px;

    }
  }

  .section-2 {

    h3 {
      color: #9E00FF;
      font-size: 60px;
      font-weight: 200;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 200;
    }

    h2 {
      color: #FFFFFF;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 25px;
    }

    p {
      color: #FFFFFF;
      font-weight: 400;
      font-size: 18px;
    }
  }

  .bg-selection {
    background: #1C1E25;
    border-radius: 19px;
    padding: 30px;

    input,
    select {
      background: $background-input;
      border: none;
      padding: 18px;
      color: #797a7c;
      border-radius: 15px;
      font-weight: 700;
    }

    button {
      padding: 10px;
    }

    .privacity {
      p {
        color: #686868;
        font-size: 14px;
        line-height: 18px;
      }

      span {
        a {
          color: white;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }

  .btn-subscribe {
    background: $cor-botao  !important;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    border: none;
  }

  .tittle {
    color: white;
    font-size: 32px;
    font-weight: 700;
  }

  .space-paragraph {
    margin-top: $spacement-landing;
  }

  .card-host {
    background-color: $second-background;
    padding: 65px 25px 0px 25px;
    border-radius: 20px !important;
    margin: 20px;

    a {
      text-decoration: none;
      color: #F6DAE0;
    }

    img {
      border-radius: 50%;
      position: absolute;
      margin-top: -120px;
      width: 100px;
      height: auto;
      object-fit: cover;
    }

    h1 {
      font-size: 16px;
      font-weight: 700;

      span {
        color: #B19BF8;
        font-weight: 500;
        font-style: italic;
      }
    }

    p {
      color: #F6DAE0;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .inside-creators-part {
    .color-paragraph {
      color: #FFFFFF;
      font-weight: 600;
      font-size: 18px;
      text-align: left;
      margin-top: 20px;
    }

    button {
      padding: 10px 50px;
    }

    a {
      text-decoration: none;
      color: white;
      border: none;

    }
  }

  .investor {
    .col {
      display: flex;
      justify-content: center;
    }

    p {
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      opacity: 0.4;
    }

    img {
      width: 120px;
      height: auto;
      text-align: center;
      object-fit: cover;
    }
  }


  footer {
    border-top: 1px solid #3E465F;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;

    .list-terms {
      color: white;
      opacity: 0.6;
      text-decoration: none;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;

      a {
        text-align: center;
        font-weight: 600;
        margin-left: -45px;
        font-size: 13px;
        color: #8B90A0;
      }

    }

    h3 {
      color: #E3E3E3;
      position: absolute;
      font-size: 14px;
      margin-top: -43px;
    }

    a {
      color: white;
      text-decoration: none;

      a:hover {
        text-decoration: underline;
        color: white;
      }
    }

    ul {
      li {
        i {
          font-size: 20px;
          background: rgb(141, 141, 141);
          padding: 14px 14px;
          border-radius: 50%;
          color: white;
          cursor: pointer;

          &:hover {
            opacity: .9;
          }
        }
      }
    }


  }

  .hide-desktop {
    display: none;
  }
}

.info-first {
  h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }

}

@media screen and (min-width: $small) and (max-width: $medium) {
  body {
    overflow-x: hidden;


    .container {
      overflow-x: hidden;
    }

    .bg-selection {
      position: relative !important;
      margin-top: 50px;
      z-index: 1 !important;
    }

    .insider {
      .info-first {
        margin-top: 230px;
        text-align: center;

      }

      .insider-creator-img {
        width: 300px;
        position: absolute;
        top: -120px;
        left: -30px;
      }
    }

    .card-creators {
      img {
        width: 540px;
        height: auto;
        object-fit: cover;
        margin-left: 60px;
      }
    }

    .transmission {
      width: 94vw !important;
      height: 94px;
      margin-top: 62px;
    }
  }

  .hide {
    opacity: 0;
  }

  .card-host {
    margin-top: 50px !important;

  }

  .inside-creators-part {
    .color-paragraph {
      margin-bottom: 30px;
    }

    .btn-subscribe {
      padding: 12px 70px;
      font-size: 17px;
      display: block;
      margin: 0px auto;
      border: none !important;
    }

    .tittle {
      font-size: 26px;
    }

    br {
      display: none;
    }
  }

  .col-md-8 {
    img {
      display: block;
      width: 400px;
      margin-left: -45px;
      margin-top: 30px;
    }
  }

  .investor {
    p {
      text-align: center;
    }

    img {
      width: 80px !important;
      display: flex;
    }

  }

  .influ-title {
    font-size: 40px !important;
  }

  .footer {
    overflow-y: hidden;

    svg {
      display: block;
      margin: 0px auto;
      width: 160px;
      margin-top: -35px;
    }

    h3 {
      text-align: center;
      position: relative;
      margin-top: -100px;
      margin-bottom: 60px;
      overflow: hidden !important;
    }

    .social-media {
      ul {
        display: block;
        margin: 0px auto;
        margin-top: -65px;
      }
    }

    .list-terms {

      a {
        text-align: center;
        margin: 0px;
        font-size: 14px;
      }

    }

    ul {
      li {
        i {
          margin: 0px;
        }
      }
    }
  }

  .section-2 {
    br {
      display: none;
    }
  }

  .social-media {
    margin-top: -24px !important;
    padding-bottom: 20px
  }


}